<%- include('header') -%>

<h1>Undir&shy;skriftar&shy;listi — umsjón</h1>

<p>Þú ert skráður inn sem: <%= whoAmI %> </p>
<a href="/logout" class="logout">Útskráning</a>
<%- include('list') -%>

<%- include('footer') -%>
